.character{
    font-size:16px;
    height: 200px;
    width:400px;
    background-color: purple;
    margin-bottom:50px;
    padding: 5px;
    border:2px solid white;

}

.character p {
    color:white;
}